*{
    margin: 0;
    padding:0;
    height:100%;
}
body{
    background-color: red;
    overflow: hidden;
    height:100%;
}
.gameContainer{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.avatar{
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    bottom:0px;
    height:30%;
    width:20%;
}

.enemy{
    background-size: cover;
    position: absolute;
    bottom: 0px;
    height:30%;
    width:20%;
}

.animateAvatar{
    animation: avatar 0.6s linear;
}

.enemyAni{
    animation: enemyAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 25px;
    color: #54212f;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
    height:25px;
}

@keyframes avatar{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes enemyAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}